h1{
    /* font-family: 'Sentinel-Light', serif;  */
    font-family: 'Sentinel-LightItalic', serif; 
    font-weight: 300; 
    font-style: italic; 
}


fieldset{
    border: none; 
    padding: 0;
    margin: 0;
}

th{
    text-align: left; 
}

.unknown {
	color: #fff;
	background-color: #9c2b37;
}