body{
    margin: 0; 
}

/* Homepage start */
#crew{
    margin-top: 5rem;
}

#crew::after{
    content : ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    background: url("assets/titanic_grain.jpg"); 
    background-repeat: no-repeat;
    background-size: cover; 
    opacity: 0.15;
    width: 100vw; 
    height: 100vh; 
    z-index: -100;
}

#crew h1{
    font-family:  'Avenir-Next-Bold', sans-serif; 
    font-weight: 900; 
    font-style: normal;
    font-size: 2rem;
    color: #9C2B37; 
    letter-spacing: 5px;
    text-align: center; 
    margin-bottom: 0;
}

#crew h2{
    font-family: 'Sentinel-Medium', serif; 
    font-weight: 600; 
    font-style: normal; 
    font-size: 1.5rem;
    color: #000; 
    text-align: center; 
    margin-top: 0;
}

#crewImg{
    display: flex; 
    justify-content: space-between; 
    margin: 2rem 7%; 
}

.crewImgChild{
    width: 27%; 
}

.crewImgChild h3{
    font-family:  'Avenir-Next-Bold', sans-serif; 
    font-weight: 900; 
    font-style: normal;
    font-size: 1rem;
    letter-spacing: 1.6px; 
    color: #9C2B37; 
    text-align: center; 
    margin-bottom: 0;
}

.crewImgChild h4{
    font-family: 'Sentinel-Medium', serif; 
    font-weight: 600; 
    font-style: normal; 
    font-size: 1.5rem;
    color: #000; 
    text-align: center; 
    margin-top: 0.5rem;
}

.crewImgChild img{
    width: 100%; 
}

/* Homepage end */

fieldset{
    border: none; 
    padding: 0;
    margin: 0;
}

th{
    text-align: left; 
}

.unknown {
    font-family: 'Courier-0blique'; 
    font-weight: 500; 
    font-style: italic;}
/*Addressbook start*/
#addressbook::after{
    content : "";
    position: fixed;
    top: 0; 
    left: 0; 
    background: url("assets/lobby_2.jpg"); 
    opacity: 0.15;
    width: 100vw; 
    height: 100vh; 
	z-index: -100;
	background-size: 100%;
	background-repeat: no-repeat;

}
.ab {
	box-sizing: border-box;
	margin: auto;
	margin-top: 10em;
    padding: 20px;
    text-align: center;
	width: 60em;
	min-height: 50em;
	height: auto;
	padding: 2em 4em;
	background-image: url("assets/addressBook.png");
	background-size: 100%;
	background-repeat: no-repeat;
	max-width: auto;
}

.ab h1 {
	color: #9c2b37;
	text-transform: uppercase;
	font-size: 2.5em;
    font-family: 'Avenir-Next-Bold'; 
    font-weight: 900; 
    font-style: normal;
}
table.ab-table {
	box-sizing: border-box;
	border-collapse: collapse;
	width: 90%;
	margin: auto;
}
table.ab-table tr {
	border-bottom: 1px solid black;
    font-family: 'Courier-Bold'; 
    font-weight: 700; 
    font-style: normal;
	color: #000000;

}


table.ab-table th {
	border-top: 4px solid black;
	padding: 1em 0;
	color: #9c2b37;
    text-transform: uppercase;
	font-size: 1.2em;
    font-family: 'Avenir-Next-Bold'; 
    font-weight: 900; 
    font-style: normal;
	padding: 1em;

}
table.ab-table th.right-bar {
	border-right: 4px solid black;

}


table.ab-table tr:hover th {

	color: #FFFFFF;

}
table.ab-table tr:hover {
	background-color: #000000;
	color: #FFFFFF;

}


table.ab-table td {
	padding: 1em;

}

table.ab-table td.right-bar {
	border-right: 4px solid black;

}

/*Manifest start*/
#manifest{
    margin-top: 7rem;
}
#manifest::after{
    content : "";
    position: fixed;
    top: 0; 
    left: 0; 
    background: url("assets/passengersBoarding_3.jpg"); 
    opacity: 0.15;
    width: 100vw; 
    height: 100vh; 
	z-index: -100;
	background-size: 100%;
	background-repeat: no-repeat;

}
.manifest-wrapper {
	box-sizing: border-box;
	border-collapse: collapse;
	width: 70%;
	margin: auto;
	padding-top: 5em;
}
.manifest-head {
	margin: 2em;
}

.manifest-head h1 {
	color: #9c2b37;
	text-transform: uppercase;
	font-size: 2em;
    font-family: 'Avenir-Next-Bold'; 
    font-weight: 900; 
    font-style: normal;
    letter-spacing: 2.6px;
}

.manifest-head input {
	padding: 1em 2em;
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid black;
}

.manifest-head select {
	padding: 1em 2em;
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid black;
}

.manifest-wrapper select#chooseNumber {
	padding: 1em 0;
	background: rgba(255, 255, 255, 0);
	border: 1px none black;
	font-size: 2em;
	text-transform: uppercase;
    font-family: 'Avenir-Next-Bold'; 
    font-weight: 900; 
    font-style: normal;

}

.manifest-wrapper select#chooseNumber option {
	padding: 1em 0;
	background: rgba(255, 255, 255, 0);
	border: 1px none black;
	font-size: 0.5em;
	text-transform: uppercase;
    font-family: 'Avenir-Next-Bold'; 
    font-weight: 900; 
    font-style: normal;

}

.manifest-wrapper #pages {
	padding: 1em 0;
	color: rgba(0, 0, 0, 0.4);
	border: 1px none black;
	font-size: 2em;
	text-transform: uppercase;
    font-family: 'Avenir-Next-Bold'; 
    font-weight: 900; 
    font-style: normal;

}
.manifest-wrapper .manifest-page-control {
	float: right;
}

table.manifest-table {
	box-sizing: border-box;
	border-collapse: collapse;
	width: 100%;
	margin: auto;
}
table.manifest-table tr {
	border-bottom: 1px solid black;
    font-family: 'Courier-Bold'; 
    font-weight: 700; 
    font-style: normal;
	color: #000000;

}


table.manifest-table th {
	border-top: 4px solid black;
	padding: 1em 0;
	color: #9c2b37;
    text-transform: uppercase;
	font-size: 1.2em;
    font-family: 'Avenir-Next-Bold'; 
    font-weight: 900; 
    font-style: normal;
	padding: 1em;

}
table.manifest-table tr:hover th {

	color: #FFFFFF;

}
table.manifest-table tr:hover {
	background-color: #000000;
	color: #FFFFFF;

}


table.manifest-table td {
	padding: 1em;

}
/*Ticket start*/
.ticket {
    position: fixed; 
	box-sizing: border-box;
	margin: auto;
    padding: 20px;
    text-align: center;
	width: 60em;
	height: auto;
	padding: 4em;
	padding-top: 10em;
	background-image: url("assets/ticket.png");
	background-size: 100%;
	background-repeat: no-repeat;
	max-width: auto;
	min-height: 37em;
}

.ticket-item h2 {
	color: #9c2b37;
    text-transform: uppercase;
	font-size: 0.6em;
    font-family: 'Avenir-Next-Bold'; 
    font-weight: 900; 
    font-style: normal;
}
.ticket-item {
	font-size: 1.5em;
    font-family: 'Sentinel-Bold'; 
    font-weight: 700; 
    font-style: normal; 
}

.ticket-content {
	margin: auto;
	padding: 0;
	text-align: center;
}
.ticket-column {
	margin: 0;
	margin-bottom: 2em;
	padding: 0;
	display: flex;
	flex-direction:row;
		text-align: left;

}

.ticket-left-content {
	width: 60%;
	display: flex;
	flex-direction: column;
}

.ticket-right-content {
	display: flex;
	flex-direction: column;
}

.ticket-column {
	flex-direction: row;

}

.ticket-double {
	margin: 0;
	display: flex;
	flex-direction: row;
}
.ticket-item {
	margin: 0.5em 1em;
}
.ticket-button {
	text-transform: uppercase;
	background-color: #000000;
	color: #ffffff;
	margin: 5em 0;

	padding: 1em;
	font-family: 'Avenir-Next-Bold'; 
    font-weight: 900; 
    font-style: normal;
	text-decoration: none;

}
.ticket-button:hover {
	text-transform: uppercase;
	background-color: #9c2b37;
	color: #ffffff;
	padding: 1em;
	font-family: 'Avenir-Next-Bold'; 
    font-weight: 900; 
    font-style: normal;
	text-decoration: none;
}

#profile::after{
    content : "";
    position: fixed;
    top: 0; 
    left: 0; 
    background: url("assets/cabin.jpg"); 
    opacity: 0.15;
    width: 100vw; 
    height: 100vh; 
	z-index: -100;
	background-size: 100%;
	background-repeat: no-repeat;

}

.profile-wrapper {
	width: 40%;
	margin: auto;
	margin-top: 10em;
	text-align: center;
}
.profile-content {
	
	width: 100%;
	display: flex;
	font-family: 'Sentinel-Book'; 
    font-weight: 500; 
    font-style: normal; 
}
.profile-wrapper h1 {
    text-transform: uppercase;

    font-family:  'Avenir-Next-Bold', sans-serif; 
    font-weight: 900; 
    font-style: normal;
    font-size: 2rem;
    color: #9C2B37; 
    letter-spacing: 5px;
}
.profile-wrapper  {
	text-align: left;
}


.profile-wrapper h1 a {
    text-transform: uppercase;
    font-style: italic;
	text-decoration: none;
    font-size: 1.5rem;
	    letter-spacing: 5px;

    color: #9C2B37; 
}

.profile-c {

	
	border-top: 4px solid black;
	text-align: left;
	width: 60%;
	display: flex;
	flex-direction: column;
}
.profile-column-right {

	text-align: left;
	width: auto;
	display: flex;
	flex-direction: column;
}
.profile-item {
	width: 50%;
	display: flex;
	flex-direction: row;
}
.profile-content {
	border-top: 4px solid black;

		flex-direction: column;

}
.profile-content h1 {
    text-transform: capitalize;

	color: black;
    font-family: 'Sentinel-Bold'; 
    font-weight: 700; 
    font-style: normal; 
	font-size: 2em;
}
#saveProfile{
    font-family: 'Avenir-Next-Bold'; 
    font-weight: 900; 
    font-style: normal;
    font-size: 0.8rem;
    letter-spacing: 0.7px; 
    background-color: #000; 
    color: white; 
    border: none; 
    padding: 1rem 2rem;
}
.profile-table {
	width: auto;
	display: block;
}


/*Register & Login start*/
    #register{
        display: flex; 
    }
    .formImg img{
        height: 100vh;
    }

    #registerForm{
        background-color: #F8FAF4; 
        width: 100%; 
        text-align: center;
    }

    #registerForm img{
        width: 20%;
        margin-top: 2rem;
    }

    #registerForm form{
        margin: 0 auto; 
        width: 70%;
    }

    #registerForm h1{
        font-family: 'Avenir-Next-Bold'; 
        font-weight: 900; 
        font-style: normal;
        color: #9C2B37; 
        font-size: 2rem;
        text-align: center; 
        letter-spacing: 2.6px; 
    }

    .stacked{
        display: flex; 
        flex-direction: column; 
    }
    
    .stacked label{
        font-family: 'Sentinel-Book'; 
        font-weight: 500; 
        font-style: normal; 
        font-size: 1rem;
        text-align: left;
    }

    .stacked input{
        font-family: 'Courier'; 
        font-weight: 500; 
        font-style: normal;
        font-size: 1.25rem;
        border: none;
        border-bottom: 1px solid #000;
        background-color: transparent;  
    }

    .mandatory{
        color: #9C2B37;
    }

    .row{
        display: flex; 
        justify-content: space-between;
        padding-bottom: 1.5rem;
    }

    .half{
        width: 45%; 
    }

    .third{
        width: 30%; 
    }

    .radioLabel{
        font-family: 'Courier'; 
        font-weight: 500; 
        font-style: normal;
    }

    .third #gender{
        display: flex;
        padding-top: 0.7rem;
    }

    #rightGender{
        margin-left: 1rem;
    }

    .error{
        color: #9C2B37; 
        font-family: 'Sentinel-Book'; 
        font-weight: 500; 
        font-style: normal; 
        font-size: 0.75rem;
        margin-top: 0.25rem;
    }

    #registerSubmit{
        font-family: 'Avenir-Next-Bold'; 
        font-weight: 900; 
        font-style: normal;
        font-size: 0.8rem;
        letter-spacing: 0.7px; 
        background-color: #000; 
        color: white; 
        border: none; 
        padding: 1rem 2rem;
    }

    legend{
        text-align: left; 
    }

    .bottom{
        font-family: 'Sentinel-Book'; 
        font-weight: 500; 
        font-style: normal;
        margin: 0;
    }

    p.bottom{
        margin-top: 1rem;
    }
    a.bottom{
        color: #000;
    }

    #login{
        margin-top: 6rem !important;
    }

    #login #registerSubmit{
        margin-top: 4rem !important;
    }
/*Register & Login end*/
/*Logout start*/
#logout{
    margin-top: 6rem !important;
}

table.logout-table {
	box-sizing: border-box;
	border-collapse: collapse;
	width: 60%;
	margin: auto;
}
table.logout-table tr {
	border-bottom: 1px solid black;
    font-family: 'Courier-Bold'; 
    font-weight: 700; 
    font-style: normal;
	color: #000000;

}


table.logout-table th {
	border-top: 4px solid black;
	padding: 1em 0;
	color: #9c2b37;
    text-transform: uppercase;
	font-size: 1.2em;
    font-family: 'Avenir-Next-Bold'; 
    font-weight: 900; 
    font-style: normal;
	padding: 1em;

}
table.logout-table th.right-bar {
	border-right: 4px solid black;

}


/*table.logout-table tr:hover th {

	color: #FFFFFF;

}
table.logout-table tr:hover {
	background-color: #000000;
	color: #FFFFFF;

}*/


table.logout-table td {
	padding: 1em;

}

table.logout-table td.right-bar {
	border-right: 4px solid black;

}

.redout {
color: #ffffff;
	background-color: #9c2b37;
}
.logout-button {
	font-family: 'Avenir-Next-Bold'; 
    font-weight: 900; 
    font-style: normal;
    font-size: 0.8rem;
    letter-spacing: 0.7px; 
    background-color: #000; 
    color: white; 
    border: none; 
    padding: 1rem 2rem;
}

.logout-button:hover {
    background-color: #9c2b37; 
}

/*Logout end*/


/*Menu start*/
#nameIcon{
    color: white; 
    margin: 0; 
    padding: 1rem;
    background-color: black;
    border-radius: 50%; 
    width: 28px;
    height: 28px;
}

#nameIcon p{
    margin: 0;
    text-align: center; 
    padding-top: 4px;
    font-family: 'Avenir-Next-Bold'; 
    font-weight: 900; 
    font-style: normal;
    letter-spacing: 2.3px; 
}

#nameHeader{
    display: flex;
    align-items: center;
}

#nameHeader h1{
    font-size: 1.25rem;
    font-family: 'Sentinel-Medium'; 
    font-weight: 600; 
    font-style: normal;  
    margin-left: 1rem;
}

#menuHeader{
    display: flex;
    align-self: center; 
}

#menuHeader a{
    color: #9C2B37; 
    font-family: 'Avenir-Next-Bold'; 
    font-weight: 900; 
    font-style: normal;
    font-size: 1.5rem;
    letter-spacing: 3.5px; 
    text-decoration: none;
    margin-left: 0.5rem;
}

#header{
    display: flex; 
    justify-content: space-between;
    margin: 0 2.5%; 
}

#headerParent{
    position: fixed;
    top: 1rem;
    width: 100vw; 
}

#menuOverlay{
    background-color: #F8FAF4; 
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100vw; 
    height: 100vh; 
    margin-right: 2.5%; 
    filter: 8px;
    display: none;
}

#menuOptions{
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    height: 100%; 
}

#menuOptions a{
    font-family: 'Sentinel-Medium'; 
    font-weight: 600; 
    font-style: normal; 
    font-size: 3rem;
    color: #000; 
    text-decoration: none;
    text-align: center; 
    margin-bottom: 2rem;
}

#menuOptions a:hover{
    background-color: white; 
    opacity: 0.75; 
}

#closeHeader {
    display: flex;
    align-self: center;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-right: 2.5%;
}

#closeHeader a{
    color: #9C2B37; 
    font-family: 'Avenir-Next-Bold'; 
    font-weight: 900; 
    font-style: normal;
    font-size: 1.5rem;
    letter-spacing: 3.5px; 
    text-decoration: none;
    margin-left: 0.5rem;
}
/*Menu end*/

/*Lobby start*/
#lobby{
    width: 300%; 
    margin-top: 20rem;
    margin-left: 4%; 
    overflow-x: scroll; 
}

.lobbyNames{
    width: 30vw;
    float: left;  
}

.individualName{
    font-family: 'Sentinel-Bold'; 
    font-weight: 700; 
    font-style: normal; 
    font-size: 3rem;
    margin-bottom:0;
}

.individualLink{
    font-family: 'Sentinel-BookItalic'; 
    font-weight: 500; 
    font-style: italic; 
    font-size: 1.25rem;
    color: #000; 
    text-decoration: none; 
    /* padding-bottom: 1rem; */
}

.individualLink:hover{
    border-bottom: 1px solid #000; 
}

#lobbyParent{
    width: 100vw; 
    /* height: 100vh;  */
}

#lobbyParent::after{
    content : ""; 
    position: fixed; 
    top: 0; 
    left: 0; 
    background: url("assets/lobby_2.jpg"); 
    background-repeat: no-repeat;
    background-size: cover; 
    opacity: 0.15;
    width: 100vw; 
    height: 100vh; 
    z-index: -100;
}

#time{
    position: fixed; 
    margin-top: -7rem; 
    margin-left: 4%;
    z-index: -5; 
}

#time h1{
    color: #9C2B37;
    font-family: 'Avenir-Next-Bold'; 
    font-weight: 900; 
    font-style: normal;
    letter-spacing: 2.6px;
}

#time p{
    font-family: 'Sentinel-Book'; 
    font-weight: 500; 
    font-style: normal; 
    font-size: 1.25rem;
    width: 60%; 
}

/*Lobby end*/